In [12]:
numbers=list(range(30,65,5))
print(numbers)
numbers.reverse()
print(numbers)
numbers.insert(0,65)
print(numbers)

[30, 35, 40, 45, 50, 55, 60]
[60, 55, 50, 45, 40, 35, 30]
[65, 60, 55, 50, 45, 40, 35, 30]

In [58]:
nums=[]
nums=list(range(0,21))
print(nums)
nums.remove(0)
print(nums)
print(len(nums))
print(max(nums))
print(min(nums))
total=0 
for number in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]:
  total= total + number
  print("total=" ,total, "and numnber=", number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
20
20
1
total= 1 and numnber= 1
total= 3 and numnber= 2
total= 6 and numnber= 3
total= 10 and numnber= 4
total= 15 and numnber= 5
total= 21 and numnber= 6
total= 28 and numnber= 7
total= 36 and numnber= 8
total= 45 and numnber= 9
total= 55 and numnber= 10
total= 66 and numnber= 11
total= 78 and numnber= 12
total= 91 and numnber= 13
total= 105 and numnber= 14
total= 120 and numnber= 15
total= 136 and numnber= 16
total= 153 and numnber= 17
total= 171 and numnber= 18
total= 190 and numnber= 19
total= 210 and numnber= 20

In [55]:
weather={ "sunny" : "play" , "rainy" : "watch tv" , "cloudy" : "walk"}
print(type(weather))
print("keys:", end = " " )
for key in weather.keys ():
  print(key ,end = " " )
print("values:", end = " " )
for value in weather.values ():
  print( value , end = " " )
for key, value in weather.items ():
  print( "When" , key , "let us" , value , end = " " )  
weather.update({"snowy":"ski"})
print(weather)

<class 'dict'>
keys: sunny rainy cloudy values: play watch tv walk When sunny let us play When rainy let us watch tv When cloudy let us walk {'sunny': 'play', 'rainy': 'watch tv', 'cloudy': 'walk', 'snowy': 'ski'}